DEVICE=cpu # or cuda
ENABLE_MULTIPLE_FACE_DETECTION=True # or False
ENABLE_FACE_GLASS_DETECTION=True # or False
ENABLE_HEAD_POSE_DETECTION=True # or False
# == insightface model settings == #
MODEL_NAME=buffalo_l