# python 3.10.19 is required to run this project.
# download link: https://www.python.org/downloads/release/python-31019/

fastapi
uvicorn
pydantic-settings
python-multipart
insightface
onnxruntime
opencv-python
numpy
scikit-learn
pydantic
torch
torchvision
ultralytics