# python 3.10.19 is required to run this project.
# download link: https://www.python.org/downloads/release/python-31019/

fastapi
uvicorn
pydantic-settings
tensorflow==2.20.0
mediapipe==0.10.31
python-multipart
insightface
onnxruntime
opencv-python-headless
numpy
scikit-learn
pydantic
ultralytics
